<div class="mt-20 w-full p-10" >

  @if (todoItems.length == 0) {
    <div class="flex flex-col h-full justify-center items-center" >
      <p>{{message}}</p>
    </div>
  } @else {

    <details open>
      <summary class="text-3xl font-bold text-slate-600" >Pending 🕰️</summary>
      @for (todo of pendingTodos; track $index) {
        <app-todo-item todoId={{todo.id}} title={{todo.title}} [completed]="todo.completed" todoId={{todo.id}}></app-todo-item>
      }
    </details>

    <details>
      <summary class="text-3xl font-bold text-slate-600" >Completed ✔️</summary>
      @for (todo of completedTodos; track $index) {
        <app-todo-item todoId={{todo.id}} title={{todo.title}} [completed]="todo.completed" todoId={{todo.id}}></app-todo-item>
      }
    </details>
  }

</div>
